body {
	background: rgba(242, 235, 217, 1);
	color: #333333;
	font-family: 'Charm';
	font-weight: 300;
	font-size: 15px;
}

* {
	box-sizing: border-box;
}

.middle {
	width: 100%;
	height: 500px;
	background: url("../images/roadTrip.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.middle form {
	min-height: 100px;
	line-height: 10;
	text-align: center;
	margin-top: 10px;
}

.middle p {
	align-places: center;
	height: 30px;
	margin-bottom: 10px;
}

.title {
	font-size: 20px;
}

.hidden {
	display: none;
}

.TextField {
	position: relative;
	margin-top: 50px;
}

.TextField #placeName {
	color: #b8c4ce;
}

.TextField #cityName {
	color: #b8c4ce;
}

.submit {
	z-index: 1;
	position: relative;
	width: 10%;
	color: #000000;
	text-align: center;
	left: 45%;
}

#search-error { 
	text-align: center;
	background-color: #ffcccc;
	width: 30%;
	margin: auto auto;
	color: #000000;
	border-radius: 10px;
}

#place-list {
	background: #F2EBD9;
	color: #624630;
	list-style: none;
	min-height: 5px;
	padding: 5px;
	width: 100%;
	margin-bottom: 0px;
}

#place-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

.place {
	align-places: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.place:last-child {
	border: none;
}

.place:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

.place img {
	border: 1px solid #FFFFFF;
	height: 80px;
	width: 80px;
}

.place>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

/*
.place-name {
	color: #624630;
	font-weight: 400;
	text-decoration: none;
}
*/
.place-name:hover {
	text-decoration: underline;
}

.place-detail {
	line-height: 20px;
	padding-right: 100px;
	text-align: center;
}

.place-address {
	line-height: 20px;
	padding-right: 20px;
	text-align: right;
}

.rating {
	align-places: center;
	display: flex;
	padding-top: 10px;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #F13F3F;
}