body {
  font-family:  'Charm';
  background-color: #ff0066;
  display: flex;
  align-items: center;
}

main {
  width: 450px;
  margin: auto auto;
  height: 450px;
  border-radius: 50%;
  background-color: white;
}

h2, h4, button {
  text-align: center;
  color: gray;
}

img {
  height: 150px;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 10px;
  display: block;
  margin: auto auto;
}

.imgcontainer {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-color: #00cc99;
  float: right;
}

#signup-error {
  text-align: center;
  background-color: #ffcccc;
  width: 60%;
  margin: auto auto;
  padding: 10px;
  color: #b30000;
  border-radius: 10px;
}

#welcome-msg {
  text-align: center;
  background-color: #b3ffcc;
  width: 60%;
  margin: auto auto;
  padding: 10px;
  color: #009933;
  border-radius: 10px;
}


.hidden {
  display: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -225px;
}

.container {
	margin-top: 15px;
}
